{% extends "base.jinja2" %}
{% import "macros.jinja2" as macros %}

{% block nav %}
<ul>
	<li class="index"><a href="{{route_url("index")}}">Index</a></li>
	<li class="project"><a href="{{route_url("project", project=project.name)}}">Project: {{project.name}}</a></li>
	<li class="branch"><a href="{{route_url("branch", project=project.name, branch=branch.name)}}">Branch: {{branch.name}}</a></li>
	<li class="end">&nbsp;</li>
</ul>
{% endblock %}

{% block content %}
<ul class="eventlist">
	{% for event in events %}
		{% if event.type == "comment" %}
			{{ macros.comment(event) }}
		{% elif event.type == "commitstreak" %}
			<li class='commit'>
				<div class="header">
					<span class="icon">
						{{avatar(event.author, 48)}}
					</span>
					<span class="title">
						{{ len(event.commits) }} Commits
					</span>
					<span class="timestamp">
						{{name(event.author)}} updated
						<time datetime="{{event.timestamp.isoformat()}}">{{event.timestamp}}</time>
					</span>
				</div>
				<div class="message">
				{% for commit in event.commits %}
					<div class="line">
					<a href="{{route_url("commit", project=project.name, branch=branch.name, commit=commit.name)}}">{{commit.name[:8]}}</a>:
					{{commit.message}}
					<span class="timestamp">
						<time datetime="{{commit.timestamp.isoformat()}}">{{commit.timestamp}}</time>
					</span>
					</div>
				{% endfor %}
				</div>
			</li>
		{% else %}
			<li class='commit'>
				<div class="header">
					<span class="icon">
						{{avatar(event.author, 48)}}
					</span>
					<span class="title">
						<a href="{{route_url("commit", project=project.name, branch=branch.name, commit=event.name)}}">{{event.name[:8]}}</a>:
					</span>
					<span class="subtitle">
						{{len(event.comments)}} comments
					</span>
					<span class="timestamp">
						{{name(event.author)}} posted
						<time datetime="{{event.timestamp.isoformat()}}">{{event.timestamp}}</time>
					</span>
				</div>
				<div class="message">
					{{event.message}}
				</div>
				{% if request.GET.get("squash") == "on" %}
				<div class="diff">
					<div class="diff-toggle">
						Toggle Diff Content
					</div>
					<div class="diff-content">
						<pre>{{event.diff}}</pre>
					</div>
				</div>
				{% endif %}
			</li>
			{% if len(event.get_comments()) != 0 %}
			<div class="subcomments">
				{% for comment in event.get_comments() %}
					{{ macros.comment(comment) }}
				{% endfor %}
			</div>
			{% endif %}
		{% endif %}
	{% endfor %}
	{{ macros.commentbox(project.name, branch.name) }}
</ul>
{% endblock %}
