{% extends "base.jinja2" %}
{% import "macros.jinja2" as macros %}

{% block nav %}
<ul class="breadcrumbs">
	<li class="index"><a href="{{route_url("index")}}">Index</a></li>
	<li class="end">&nbsp;</li>
</ul>
{% endblock %}

{% block content %}
{{ macros.eventlist(events) }}
{% endblock %}
