{% extends "base.jinja2" %}
{% import "macros.jinja2" as macros %}

{% block nav %}
<ul>
	<li class="index"><a href="{{route_url("index")}}">Index</a></li>
	<li class="project"><a href="{{route_url("project", project=project.name)}}">Project: {{project.name}}</a></li>
	<li class="end">&nbsp;</li>
</ul>
{% endblock %}

{% block content %}
<ul class="eventlist">
	{% for event in events %}
		{% if event.type == "comment" %}
			{{ macros.comment(event) }}
		{% else %}
			<li class="branch">
				<div class="header">
					<div class="author">
						<a href="{{route_url("branch", project=project.name, branch=event.name)}}">
							{{event.name}} ({{event.status}})
							({{len(event.get_commits())}} commits, {{len(event.get_comments())}} comments)
						</a>
					</div>
				</div>
				<div class="message">
					Last update: {{event.last_update}}
					<br>{{event.message}}
				</div>
			</li>
		{% endif %}
	{% endfor %}
	{{ macros.commentbox(project.name) }}
</ul>
{% endblock %}
