{% extends "base.jinja2" %}
{% import "macros.jinja2" as macros %}

{% block nav %}
<ul>
	<li class="index"><a href="{{route_url("index")}}">Index</a></li>
	<li class="project"><a href="{{route_url("project", project=project.name)}}">Project: {{project.name}}</a></li>
	<li class="end">&nbsp;</li>
</ul>
{% endblock %}

{% block content %}
<ul class="eventlist">
	{% for event in events %}
		{% if event.type == "comment" %}
			{{ macros.comment(event) }}
		{% else %}
			<li class="branch {{event.status}}">
				<div class="header">
					<span class="author">
						<a href="{{route_url("branch", project=project.name, branch=event.name)}}">
							{{event.name}}
							({{len(event.get_commits())}} commits, {{len(event.get_comments())}} comments)
						</a>
					</span>
                    <time datetime="{{event.timestamp.isoformat()}}">{{event.timestamp}}</time>
				</div>
				<div class="message">
					{{event.message}}
				</div>
			</li>
		{% endif %}
	{% endfor %}
</ul>
{% endblock %}
